<div>
  <label>{{ 'RUN_RULE.TITLE' | translate }}</label>
  <mat-card class="card class.mat-elevation-z0">
    <mat-card-content class="content">
      <mat-checkbox #runCheckbox class="checkbox" (change)="onCheck($event)">
        {{ 'RUN_RULE.ON_START_CHECKBOX_LABEL' | translate }}
      </mat-checkbox>
      <button class="btn" mat-stroked-button color="accent" (click)="onRun()" [disabled]="runDisabled">
        {{ 'RUN_RULE.RUN_NOW_BUTTON' | translate }}
      </button>
    </mat-card-content>
  </mat-card>
</div>
