<div class="tab-container">
  <ul class="sub-nav">
    <li class="left">
      <app-task-name-input [formControl]="form.controls[FormName.TaskName]" [editsOn]="tab.editsOn"></app-task-name-input>
    </li>
    <li class="right">
      <button mat-stroked-button (click)="onNewTask()" color="accent"
        [disabled]="form.controls[FormName.TaskName].invalid">
        {{ 'MOVE.TASK_FORM.NEW_BUTTON' | translate }}
      </button>
    </li>
    <li class="right">
      <button mat-stroked-button color="accent" (click)="onSave()" [disabled]="form.invalid">
        {{ 'MOVE.TASK_FORM.SAVE_BUTTON' | translate }}
      </button>
    </li>
  </ul>
  <app-open-folder (opened)="onOpenedFolder($event, FormName.SourceFolder)"
    [formControl]="form.controls[FormName.SourceFolder]" [opts]="sourceFolderOpts"></app-open-folder>
  <app-open-folder (opened)="onOpenedFolder($event, FormName.DestinationFolder)"
    [formControl]="form.controls[FormName.DestinationFolder]" [opts]="destinationFolderOpts"></app-open-folder>
  <app-rules [formControl]="form.controls[FormName.TaskRules]"></app-rules>
  <div class="spacer"></div>
  <app-run-rule [formControl]="form.controls[FormName.OnStartup]" class="run-rule" (run)="onRun()" [runDisabled]="form.invalid"></app-run-rule>
</div>
<!-- {{ form.value | json }} -->
<!-- {{ form.hasError('required') | json }} -->
