.tab-container {
  margin-top: 25px;
}
.close {
  margin-left: -8px;
  margin-top: -8px;
  /* float: right; */
  font-size: 1.5rem;
  /* font-weight: 700; */
  line-height: 1;
  color: #000;
  /* text-shadow: 0 1px 0 #fff; */
  opacity: .5;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.sub-nav {
  display:flex;
  list-style-type:none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 5px;
  justify-content:flex-end;
}
.left {
  margin-right:auto;
}
.right {
  margin-right: 15px;
}
.spacer {
  margin: 15px;
}
