<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content [innerHTML]="data.innerHtml"></div>
<div mat-dialog-actions>
  <!-- without focus -->
  <button *ngIf="data.rejectButton.enabled && !data.rejectButton.focus" mat-stroked-button color="basic"
    [mat-dialog-close]="false">{{data.rejectButton.text}}</button>
  <button *ngIf="data.acceptButton.enabled && !data.acceptButton.focus" mat-stroked-button color="accent"
    [mat-dialog-close]="true">{{data.acceptButton.text}}</button>
  <!-- with focus-->
  <button *ngIf="data.rejectButton.enabled && data.rejectButton.focus" mat-stroked-button color="basic"
    [mat-dialog-close]="false">{{data.rejectButton.text}}</button>
  <button *ngIf="data.acceptButton.enabled && data.acceptButton.focus" mat-stroked-button color="accent"
    [mat-dialog-close]="true">{{data.acceptButton.text}}</button>
</div>
