<mat-card class="card mat-elevation-z0">
  <mat-card-content>
<div class="container">
  <ul class="sub-nav">
    <li class="left">
      <!-- input box -->
      <mat-form-field style="width: 100%">
        <input #input matInput [placeholder]="opts.openFolderPlaceholder" readonly="true"
          [formControl]="ngControl.control" [class.is-invalid]="ngControl.invalid" required>
        <mat-hint *ngIf="ngControl.hasError('minLength')" align="end" [ngStyle]="{color: 'red'}">
          {{ 'OPEN_FOLDER.MIN_LENGTH_ERROR_MSG' | translate }}
        </mat-hint>
      </mat-form-field>
    </li>
    <li class="right">
      <!-- open button -->
      <button class="btn" mat-stroked-button (click)="onOpen()" color="accent">{{ 'OPEN_FOLDER.OPEN_BUTTON' | translate }}</button>
    </li>
  </ul>
  <div class="break"></div>

  <!-- include subfolder option -->
  <mat-checkbox #includeSubFoldersCheckbox *ngIf="opts.showIncludeSubfolder" class="subfolders" [class.is-invalid]="ngControl.invalid"
   (change)="onIncludeSubfolders($event)">{{ 'OPEN_FOLDER.INCLUDE_SUBFOLDER_CHECKBOX' | translate }}</mat-checkbox>

   <!-- put in subfolder option -->
   <ng-container *ngIf="opts.showPutInSubfolder">
    <mat-checkbox #putInSubfolderCheckbox class="subfolders" [class.is-invalid]="ngControl.invalid"
    (change)="onPutInSubfolder($event)">{{ 'OPEN_FOLDER.SUBFOLDER_FORMAT_LABEL' | translate }}</mat-checkbox>
    <mat-form-field style="margin-left: 15px;">
     <mat-select [(value)]="selected" [disabled]="!ngControl.control.value.putInSubfolder" (selectionChange)="onSelectionChange($event)">
       <mat-option [value]="FolderFormat.MonthYear">{{ 'OPEN_FOLDER.SUBFOLDER_FORMATS.MONTH_YEAR' | translate }}</mat-option>
       <mat-option [value]="FolderFormat.YearMonth">{{ 'OPEN_FOLDER.SUBFOLDER_FORMATS.YEAR_MONTH' | translate }}</mat-option>
       <mat-option [value]="FolderFormat.DayMonthYear">{{ 'OPEN_FOLDER.SUBFOLDER_FORMATS.DAY_MONTH_YEAR' | translate }}</mat-option>
     </mat-select>
   </mat-form-field>
   </ng-container>
</div>
</mat-card-content>
</mat-card>
<!-- {{ ngControl.errors | json }} -->
