.tab-container {
  margin-top: 25px;
}
.close {
  margin-left: -8px;
  margin-top: -8px;
  /* float: right; */
  font-size: 1.5rem;
  /* font-weight: 700; */
  line-height: 1;
  color: #000;
  /* text-shadow: 0 1px 0 #fff; */
  opacity: .5;
}
.close:not(:disabled):not(.disabled) {
  cursor: pointer;
}
/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 100%;
  flex: 1;
} */
.sub-nav {
  display:-webkit-flex;
  display:flex;
  list-style-type:none;
  padding:0;
  justify-content:flex-end;
}
.left {
  margin-right:auto;
}
.right {
  margin-right: 15px;
}
