/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Roboto Regular', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none !important;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
/* css for custom menu bar */
.window-controls-container {
  color: #ADADAD !important;
}
/* css for custom menu bar */
.action-menu-item {
  color: #ADADAD !important;
}
/* css for custom menu bar */
.titlebar, .titlebar > * {
  color: #ADADAD;
}
/* prevent matTab text being able to be highlighted */
.mat-tab-label {
  user-select: none;
}
/* prevent matTab text being able to be highlighted */
.mat-tab-label.mat-tab-label-active {
  user-select: none;
}
/* fix matInput text being clipped */
.mat-input-element {
  line-height: normal !important;
}
