<div class="container">
  <ul id="navbar">
    <li class="nav-item">
      <img width="20" src="assets/icons/fa-regular/folder.svg">
      <a routerLink="/">{{ 'PAGES.SIDE_MENU.MOVE' | translate }}</a>
    </li>
    <li class="nav-item">
      <img width="20" src="assets/icons/fa-regular/trash-alt.svg">
      <a routerLink="/detail">{{ 'PAGES.SIDE_MENU.DELETE' | translate }}</a>
    </li>
    <li class="nav-item">
      <img width="20" src="assets/icons/fa-regular/hdd.svg">
      <a routerLink="/detail">{{ 'PAGES.SIDE_MENU.SAVED' | translate }}</a>
    </li>
    <li class="nav-item">
      <img width="20" src="assets/icons/fa-regular/folder-open.svg">
      <a routerLink="/detail">{{ 'PAGES.SIDE_MENU.LOG' | translate }}</a>
    </li>
  </ul>
</div>
