<div class="container">
  <ul id="navbar">
    <li class="nav-item" routerLink="/move" routerLinkActive="active">
      <img class="icon" src="assets/icons/fa-regular/folder.svg">
      {{ 'PAGES.SIDE_MENU.MOVE' | translate }}
    </li>
    <li class="nav-item" routerLink="/delete" routerLinkActive="active">
      <img class="icon" src="assets/icons/fa-regular/trash-alt.svg">
      {{ 'PAGES.SIDE_MENU.DELETE' | translate }}
    </li>
    <li class="nav-item" routerLink="/saved" routerLinkActive="active">
      <img class="icon" src="assets/icons/fa-regular/hdd.svg">
      {{ 'PAGES.SIDE_MENU.SAVED' | translate }}
    </li>
    <li class="nav-item" routerLink="/logs" routerLinkActive="active">
      <img class="icon" src="assets/icons/fa-regular/folder-open.svg">
      {{ 'PAGES.SIDE_MENU.LOG' | translate }}
    </li>
  </ul>
</div>
